@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  --primary-color: #216869;
  --secondary-color: #49A078;
  --third-color: #9CC5A1;
  --dark-color: #1F2421;
  --bright-color: #DCE1DE;
  background-image: linear-gradient(to top, #2f694e ,rgb(150, 224, 181));
  min-height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

